body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #9253cc, #28004e);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 420px;
  padding: 20px;
}

.card {
  background: white;
  padding: 30px 25px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h2 {
  margin-bottom: 20px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

input,
select {
  padding: 12px 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s ease;
  background-color: white;
}

input:focus,
select:focus {
  border-color: #8805f3;
  outline: none;
  box-shadow: 0 0 0 2px rgba(76, 154, 255, 0.2);
}

button {
  padding: 12px;
  margin-top: 10px;
  background: #8d18c4;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #19348d;
}

.status {
  margin-top: 15px;
  font-size: 14px;
  color: #444;
}

.thank-you {
  text-align: center;
  padding: 20px;
}

.thank-you h2 {
  color: #6704d0;
  margin-bottom: 10px;
}

.thank-you p {
  font-size: 16px;
  margin: 8px 0;
  color: #444;
}
